section .form-container {
    width: 100%;
    max-width: 690px;
    padding: 24px 135px;
    margin: 40px 0;
    text-align: center;
}

section .form-container h2 {
    font-weight: 500;
    margin-bottom: 32px;
}

section .form-container form {
    width: 100%;
}

section .form-container form ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
}

section .form-container form ul li {
    text-align: start;
    width: 198px;
    font-weight: 500;
    font-size: 14px;
    margin-top: 17px;
}

section .form-container form ul li select,
section .form-container form ul li input {
    height: 40px;
    width: 100%;
    border: 1px solid #1D1D1D;
    border-radius: 5px;
    padding: 0 12px;
    margin-top: 4px;
    color: #1D1D1D;
}

section .form-container form ul li:last-child {
    width: 100%;
    display: flex;
    grid-column: 2;
    margin-top: 40px;
    justify-content: center;
}

section .form-container form ul li button {
    width: 87px;
    height: 33px;
    background-color: #DAE3ED;
    border: 1px solid #1D1D1D;
    border-radius: 5px;
    color: #1D1D1D;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    transition: 0.2s;
}

section .form-container form ul li button:first-child {
    margin-right: 24px;
}

section .form-container form ul li button.active {
    color: #DAE3ED;
    background-color: #1D1D1D;
    transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
    section .form-container form ul{
        display: grid;
        grid-template-columns: 1fr;
    }

    section .form-container form ul li:last-child {
        grid-column: 1;
    }

    section .form-container form ul li {
        width: 100%;
    }
}